.idea
__pycache__
**/*.blend1

# Release (ignore everything except the package script)
release/*
!release/package_releases.py

# For ignored files in bin/ subdirectory, see the .gitignore file in bin/
wheels/

# Visual studio files
.vs/
out/
.vscode/

# blendev utility script, exclude custom local config
debug-helpers/blendev/blendev-config.txt
debug-helpers/blendev/blendev-config.cfg

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt